<div class="home-hero">

  <div class="home-hero-inner">

    <div class="home-hero-left">
      <div class="top-banner">
        <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734511353/texen_website/span1_b160db.png" alt="logo" class="logo">
        <h5 class="top-banner-text">TechXen Technology & It Solution</h5>
      </div>
      <h1 class="hero-title">Transform Your Business With Next Generation <span>IT Solutions</span>
      </h1>
      <h5 class="hero-description">Welcome to TechXen where we specialise in delivering tailored technology and IT solutions designed to propel your business forward. From streamlining operations to and driving growth.</h5>
      <div class="hero-cta-container">
        <button class="cta-button">
          <h5 class="cta-button-text">Get Started Now</h5>
          <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734512131/texen_website/arrow-small-right_qpjbju.png" alt="arrow-left" class="arrow-left">
        </button>
        <button class="cta-button-transparent">
          <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734512131/texen_website/play_pyqyid.png" alt="play-button" class="play-button">
          <h5 class="cta-button-transparent-text">Watch Demo Video</h5>
        </button>
      </div>
    </div>

    <div class="home-hero-right">
      <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734511369/texen_website/hero1-image2_muf7dj.png" alt="hero-one" class="hero-one">
      <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734514223/texen_website/header1-shape1_tkv8xz.png" alt="header2" class="header2">
      <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734514255/texen_website/hero1-image1_p5oii8.png" alt="hero-two" class="hero-two">
      <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734514223/texen_website/header1-shape2_adjejh.png" alt="header1" class="header1">
      <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734514245/texen_website/hero1-image4_fsiifs.png" alt="hero-four" class="hero-four">
      <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734511369/texen_website/hero1-image3_ncrp6q.png" alt="hero-three" class="hero-three">
    </div>

  </div>

</div>
