<div class="footer">
  <div class="footer-inner">

    <div class="upper-container">

      <div class="left">
        <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734552130/texen_website/footer-logo1_o0uiet.png" alt="logo" class="logo">
        <app-text text="At TechXen IT Solutions, we are dedicated to delivering innovative technology solutions tailored to meet the unique needs of businesses like yours."/>
        <div class="socials">
          <div class="link-container">
            <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734552570/texen_website/linkedin_ocfpfl.png" alt="social-link" class="social-link">
          </div>
          <div class="link-container">
            <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734552621/texen_website/instagram_ovxgrf.png" alt="social-link" class="social-link">
          </div>
          <div class="link-container">
            <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734552626/texen_website/youtube_sxajrt.png" alt="social-link" class="social-link">
          </div>
          <div class="link-container">
            <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734552735/texen_website/twitter_jv63hq.png" alt="social-link" class="social-link">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="box">
          <h2 class="box-header">Service We Offer</h2>
          <div class="links-container">
            <app-text text="Cloud Computing Solution"/>
            <app-text text="Cybersecurity & Compliance"/>
            <app-text text="Software Development"/>
            <app-text text="It Consulting & Support"/>
          </div>
        </div>
        <div class="box">
          <h2 class="box-header">Useful Links</h2>
          <div class="links-container">
            <app-text text="About Us"/>
            <app-text text="Our Services"/>
            <app-text text="Blog & News"/>
            <app-text text="Project"/>
            <app-text text="Contact Us"/>
          </div>
        </div>
        <div class="box">
          <h2 class="box-header">Contact Us</h2>
          <div class="contact-conatiner">
            <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734542303/texen_website/footer1-icon1_bco4fu.png" alt="logo">
            <app-text text="0500 222 333"/>
          </div>
          <div class="contact-conatiner">
            <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734542306/texen_website/footer1-icon2_zmpfps.png" alt="logo">
            <app-text text="
            03 5658 8547"/>
          </div>
          <div class="contact-conatiner">
            <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734542310/texen_website/footer1-icon3_wiguwa.png" alt="logo">
            <app-text text="admin@techxen.org"/>
          </div>
          <div class="contact-conatiner">
            <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734542323/texen_website/footer1-icon4_fyajah.png" alt="logo">
            <app-text text="www.techxen.org"/>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="footer">
  <div class="footer-inner">

    <div class="inner-container">
      <div class="lower-left">
        <app-text text="Copyright &#64; 2024 TechXen.All Rights Reserved" />
      </div>
      <div class="lower-right">
        <app-text text="Terms & Conditions" />
        <app-text text="Privacy Policy" />
      </div>
    </div>

  </div>
</div>
