<div class="footer-upper">
  <div class="footer-upper-inner">

    <div class="footer-upper-left">
      <h2 class="footer-upper-title">At TechXen IT Solutions, We are <br> Committed To Businesses</h2>
      <h5 class="footer-upper-description">
        Take the first step towards achieving your business goals by contacting us today. Schedule a consultation with one of our IT specialists to discuss your objectives and explore how our innovative solutions can propel.</h5>
    </div>

    <div class="footer-upper-right">
      <button class="consultant-btn btn">Request a Consultant</button>
      <button class="explore-btn btn">Explore Solution</button>
    </div>

  </div>
</div>
