<div class="services">
  <div class="services-inner">

    <div class="upper-section">
      <div class="header-container">
        <img src="https://res.cloudinary.com/djgwvmcdl/image/upload/v1734511353/texen_website/span1_b160db.png" alt="logo" class="logo">
        <h5 class="header-text">Our Services</h5>
      </div>
      <h2 class="services-title">Empower Your Business With Our Comprehensive Technology & IT Solutions</h2>
    </div>

    <div class="lower-section">
      <div class="lower-upper">
        <app-service-card
          [imageURL]="ourServcies[0].imageURL"
          [serviceDescription]="ourServcies[0].serviceDescription"
          [serviceTitle]="ourServcies[0].serviceTitle"
        >
        </app-service-card>
        <app-service-card
          [imageURL]="ourServcies[1].imageURL"
          [serviceDescription]="ourServcies[1].serviceDescription"
          [serviceTitle]="ourServcies[1].serviceTitle"
        >
        </app-service-card>
      </div>
      <div class="lower-lower">
        <app-service-card
          [imageURL]="ourServcies[2].imageURL"
          [serviceDescription]="ourServcies[2].serviceDescription"
          [serviceTitle]="ourServcies[2].serviceTitle"
        >
        </app-service-card>
        <app-service-card
          [imageURL]="ourServcies[3].imageURL"
          [serviceDescription]="ourServcies[3].serviceDescription"
          [serviceTitle]="ourServcies[3].serviceTitle"
        >
        </app-service-card>
        <app-service-card
          [imageURL]="ourServcies[4].imageURL"
          [serviceDescription]="ourServcies[4].serviceDescription"
          [serviceTitle]="ourServcies[4].serviceTitle"
        >
        </app-service-card>
      </div>
    </div>

  </div>
</div>
